# {{ ansible_managed }}

Listen {{ apache_port_http|default('80') }}

<IfModule mod_ssl.c>
    Listen {{ apache_port_https|default('443') }}
</IfModule>

<IfModule mod_gnutls.c>
    Listen {{ apache_port_https|default('443') }}
</IfModule>

