---
- name: Restart Apache
  service:
    name: apache2
    state: restarted

- name: Start Apache
  service:
    name: apache2
    start: started

- name: Reload Apache
  service:
    name: apache2
    state: reloaded